html {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkgrey;
}
/*Top header Menu*/
.fixedMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: coral;
    position: sticky;
    top: 0;
}
/*working on the elements of the Top header Menu*/
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    font-weight: 800;
    font-size: xx-large;
    padding: 0.5rem;
    transition: 2s;
    user-select: none;
}
h1:hover {
    color: antiquewhite;
    transition: 2s;
}
div a {
    padding: 0.35rem;
    text-decoration: none;
    color: black;
    transition: 2s;
}
div a:hover {
    color: whitesmoke;
    transition: 2s;
}
body {
    margin: 0;
    padding: 0;
}
/*Working on footer*/
footer {
    padding: 1.3rem;
    background-color: coral;
    padding-top: 0.9rem;
}
footer p {
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    user-select: none;
    margin-bottom: 0;
}
article p {
    font-size: x-large;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}
/*Working on the header part*/
article {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Working on the image and Icon*/
.logo_text img {
    border-radius: 50%;
    margin: 0.8rem;
    margin-bottom: 0.3rem;
    min-width: 40%;
    min-height: 40%;
}
/*Working on logos and links*/
.logo_text {
    background-color: antiquewhite;
    margin-top: 2rem;
    padding: 0;
    min-width: 400px;
    max-width: 400px;
    min-height: 300px;
    max-height: min-content;
    margin: 0.5rem;
    border-radius: 10px;
    margin-left: 0.6rem;
}
.text_L {
    padding: 0.5rem;
}
div p a:hover {
    color: coral;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    border-color: antiquewhite;
    border-width: 5px;
}
/*WOrking on media responsiveness*/
@media (max-width: 600px) {
    .fixedMenu {
        display: block;
        position: sticky;
        top: 0;
        margin-top: -2rem;
    }
    article img {
        width: 50px;
        height: 50px;
        margin-right: 0.75rem;
    }
    article p {
        font-size: large;
    }
    .logo_text {
        min-width: 350px;
    max-width: 350px;
    min-height: 230px;
    max-height: min-content;
    }
    footer {
        padding: 0.5rem;
        padding-top: 0;
    }
}   
@media (min-width: 602px) and (max-width: 900px) {
    .logo_text {
        margin-left: 0.4rem;
        min-width: 300px;
        max-width: 300px;
        min-height: 240px;
        max-height: min-content;
    }
}
@media (min-height: 1125px) {
    footer {
        margin-top: 10%;
    }
}